@model LotViewModel


<!-- Modal -->
<div class="modal fade " id="EditLotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
    <div class="modal-dialog card card-success card-outline">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#758A93" dir="ltr">
                <span class="fs-4 fw-bold modal-title" id="title"></span>
                <a href="#" class="btn-close position-absolute  end-0 mx-3" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <form asp-action="Save" asp-controller="Lots" method="post">

            <div class="modal-body">
                    <input hidden class="form-control" asp-for="NewLot.Id" id="lotId" value="0" />

                    <!---------------------------- Lot Data ----------------------------------->
                    <!-- Lot Barcode -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot Barcode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div class="card col-md-8 py-1" style="border-top-right-radius : 20px ;">
                            <div class="card-body row p-0 mx-auto" style="border-top-right-radius : 20px ;">
                                <img src="~/lotbarcodes/184799d5.png" height="80" />
                            </div>
                        </div>
                    </div>

                    <!-- Lot Number -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input id="lotNum" asp-for="NewLot.LotNumber" readonly required class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Generate Lot Barcode ...!" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                    </div>

                    <!-- Lot Quantity -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input readonly id="lotQty" asp-for="@Model.NewLot.TotalQuantity" class="form-control text-center " type="number" min="0"  style="border-top-right-radius : 20px ;" autofocus>
                    </div>
                    
                    <!-- Lot Expiry Date -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot Expiry Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input readonly type="text" id="lotExpiryDate" asp-for="@Model.NewLot.ExpiryDate" class="form-control text-center " style="border-top-right-radius : 20px ;">
                    </div>
                    
                    <!-- Lot Location -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot Storage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="col-md-8"></span>
                        <div class="row mt-1">
                            <select id="lotLocation" class="form-select text-start " required asp-items="@Model.ListLocations" asp-for="@Model.NewLot.LocationId" style="border-top-right-radius : 20px ;font-size:14px">
                                <option selected disabled class="text-center "> Choose Location </option>
                            </select>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.NewLot.LocationId" class="text-danger"></span>
                    <!-- Lot Manufacture Date -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default "> &nbsp;&nbsp;Manufacture Date </span>
                        <input readonly type="text" id="lotManf" asp-for="@Model.NewLot.ManufactureDate" class="form-control text-center " style="border-top-right-radius : 20px ;">
                    </div>
                    <!-- Lot Receiving Date -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp; Received Date </span>
                        <input readonly type="text" id="lotReci" asp-for="@Model.NewLot.ReceivedDate" class="form-control text-center bg-light" style="border-top-right-radius : 20px ;">
                    </div>
                    
                    <!-- Lot SDS -->
                    <div class="input-group mt-3 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lot SDS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div class="card col-md-8 py-0" style="border-top-right-radius : 20px ;">
                            <div class="card-body row p-0 mx-auto" style="border-top-right-radius : 20px ;">
                                <div class="col-md-4 text-center my-0">
                                    <label for="sdsYes" class="radio-card" onclick="document.getElementById('itemSDS').value = 'True'; ">
                                        <input type="radio" hidden name="radio-card" id="sdsYes" />
                                        <div class="card-content-wrapper rounded-3 py-2 px-4">
                                            <span class="bi bi-shield-fill-check link-success fs-3"></span>
                                            <br class="m-0 p-0">
                                            <span class="link-dark mb-0">Valid</span>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-md-3 text-center"></div>
                                <div class=" col-md-4 text-center my-0">
                                    <label for="sdsNo" class="radio-card" onclick="document.getElementById('itemSDS').value = 'False'; ">
                                        <input type="radio" hidden name="radio-card" id="sdsNo" />
                                        <div class="card-content-wrapper rounded-3 py-2 px-3">
                                            <span class="bi bi-shield-x link-danger fs-3"></span>
                                            <br class="m-0 p-0">
                                            <span class="link-dark mb-0">Invalid</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input id="lotSDS" required hidden asp-for="@Model.NewLot.SDS" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="Enter Item SDS ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                    </div>
                    <span asp-validation-for="@Model.NewLot.SDS" class="text-danger"></span>

                    <!-- /.card-body -->
            </div>
            <div class="modal-footer mx-auto justify-content-center my-2 py-3">
                @* <button class="btn btn-outline-primary btn-sm  d-flex rounded rounded-3 " type="submit" title="Print Barcode" asp-controller="Items" asp-action="SaveAndPrint">
                    <img src="~/images/barcode.png" alt="SaveAndPrint" height="30" class="mx-2">
                    <span class="fw-bold fs-6 pt-1 pe-3">Print Barcode</span>
                </button> *@
                <input type="submit" class="btn btn-success" value="Save changes" id="btnSave" asp-action="Save" asp-controller="Items" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
            </div>
                </form>
            </div>

        </div>
    </div>
</div>

