@model LotViewModel

@{
    ViewData["Title"] = "Lots";
    int cNo = 0;

}
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <span class="text-center fw-bold fs-1" style="color:#415E72 !important ">
        Inventory Lots
        <i class="bi bi-archive-fill ps-2 fs-1"></i>
    </span>
</div>
<!-- Main content -->

<section class="container-fluid mt-3 " dir="ltr">
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card p-0">
                <div class="card-header  align-items-center justify-content-start bg-info-subtle">
                    <div class="row mx-auto">
                        <div class="col-1"></div>

                        @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Create_Lots).Result.Succeeded)
                        {
                            <div class="col-2">
                                <a class="btn fw-bold btn-outline-success bg-transparent border-0 text-center p-0 mx-1 fs-6" title="Add New Lot" onclick="" data-bs-toggle="modal" data-bs-target="#ListItemsModal"><i class="bi bi-cart-plus-fill fs-1"></i><br class="p-0 m-0">Add New Lot</a>
                            </div>
                        }
                        <div class="col-2"></div>
                        @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.View_ExpieryLots).Result.Succeeded)
                        {
                            <div class="col-2 mx-auto">
                                <a class="btn fw-bold btn-outline-warning bg-transparent border-0 text-center p-0 mx-1 fs-6" title="Expiery Lots List" onclick="" data-bs-toggle="modal" data-bs-target="#ExpieryLotsModal"><i class="bi bi-list-task fs-1"></i><br class="p-0 m-0">Expiered Lots</a>
                            </div>
                        }
                        <div class="col-2"></div>
                        @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.View_ExpieryLots).Result.Succeeded)
                        {
                            <div class="col-2 mx-auto">
                                <a class="btn fw-bold btn-outline-danger bg-transparent border-0 text-center p-0 mx-1 fs-6" title="Disbursement Lot" onclick="" data-bs-toggle="modal" data-bs-target="#DisbursementLotModal"><i class="bi bi-cart-dash-fill fs-1"></i><br class="p-0 m-0">Disbursement Lot</a>
                            </div>
                        }
                        
                    </div>
                </div>
                <!-- /.card-header -->

                <div class="card-body p-0">
                    <!-- Tab links -->
                    @*  <div class="tab">
                        <button class="tablinks" onclick="openCity('event', 'Users')" id="defaultOpen">قائمة المستخدمين</button>
                    </div> *@
                    <!-- Tab content -->
                    
                        @if (!Model.LotsList.Any())
                        {
                            <div class="alert  alert-warning mt-5">
                                <h4 class="alert-heading">No Lots</h4>
                                <p class="mb-0">No Lots have been added to the app yet.</p>
                            </div>
                        }
                        else 
                        {
                        <div id="Users" class="tabcontent mx-2">
                            <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                <thead>
                                    <tr class="text-center">
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Lot Number</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Item</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Expiry Date</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;">Total<br class="m-0 p-0">Quantity</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Location</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Lot SDS</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;"> Recived<br class="m-0 p-0">Date</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;">Manufacture <br class="m-0 p-0">Date</th>

                                        <th class=" text-white text-center fs-5" style="color:#415E72 !important ; background-color:#032b42 !important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lot in Model.LotsList)
                                    {
                                        cNo++;
                                        @if (Convert.ToDateTime(lot.ExpiryDate).Date.AddDays(30) < DateTime.Now.Date)
                                        {
                                            <tr class="text-center ">

                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="link-dark fw-bold">@lot.LotNumber</span></td>
                                                <td class="fs-6 text-center px-1 bg-warning-subtle">
                                                    <a class="link-primary fw-bold text-decoration-none" title="Item Details" asp-controller="Items" asp-action="SelectedItem" asp-route-Id="@lot.ItemId">
                                                        @lot.Item?.Name
                                                    </a>
                                                </td>
                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="fw-bold link-warning">@Convert.ToDateTime(lot.ExpiryDate).ToShortDateString()</span></td>
                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="link-dark fw-bold">@lot.TotalQuantity</span></td>
                                                @* <td class="fs-6 text-center px-1"><span class="link-dark fw-bold">@lot.SupplierLots.FirstOrDefault()</span></td> *@
                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="link-dark fw-bold">@lot.Location?.LocationName</span></td>
                                                @if (lot.SDS == true)
                                                {
                                                    <td class="text-center bg-warning-subtle">
                                                        <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                            Valid
                                                        </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center bg-warning-subtle">
                                                        <span class="fw-bold py-2 px-3 bg-danger-subtle link-danger rounded-5">
                                                            Invalid
                                                        </span>
                                                    </td>
                                                }

                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="link-dark ">@Convert.ToDateTime(lot.ReceivedDate).ToShortDateString()</span></td>
                                                <td class="fs-6 text-center px-1 bg-warning-subtle"><span class="link-dark ">@Convert.ToDateTime(lot.ManufactureDate).ToShortDateString()</span></td>

                                                <td class="py-1 bg-warning-subtle">
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-cart-dash-fill fs-4"></i><br></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Edit_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Edit" onclick="EditLot('@lot.Id','@lot.LotNumber')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Delete_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Delete" onclick="DeleteLot('@lot.Id')"><i class="bi bi-trash3-fill"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        else if (Convert.ToDateTime(lot.ExpiryDate).Date > DateTime.Now.Date)
                                        {
                                            <tr class="text-center ">

                                                <td class="fs-6 text-center px-1 "><span class="link-dark fw-bold">@lot.LotNumber</span></td>
                                                <td class="fs-6 text-center px-1 ">
                                                    <a class="link-primary fw-bold text-decoration-none" title="Item Details" asp-controller="Items" asp-action="SelectedItem" asp-route-Id="@lot.ItemId">
                                                        @lot.Item?.Name
                                                    </a>
                                                </td>
                                                <td class="fs-6 text-center px-1 "><span class="fw-bold link-success">@Convert.ToDateTime(lot.ExpiryDate).ToShortDateString()</span></td>
                                                <td class="fs-6 text-center px-1 "><span class="link-dark fw-bold">@lot.TotalQuantity</span></td>
                                                @* <td class="fs-6 text-center px-1"><span class="link-dark fw-bold">@lot.SupplierLots.FirstOrDefault()</span></td> *@
                                                <td class="fs-6 text-center px-1 "><span class="link-dark fw-bold">@lot.Location?.LocationName</span></td>
                                                @if (lot.SDS == true)
                                                {
                                                    <td class="text-center ">
                                                        <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                            Valid
                                                        </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center ">
                                                        <span class="fw-bold py-2 px-3  bg-success-subtle link-danger rounded-5">
                                                            Invalid
                                                        </span>
                                                    </td>
                                                }

                                                <td class="fs-6 text-center px-1 "><span class="link-dark ">@Convert.ToDateTime(lot.ReceivedDate).ToShortDateString()</span></td>
                                                <td class="fs-6 text-center px-1 "><span class="link-dark ">@Convert.ToDateTime(lot.ManufactureDate).ToShortDateString()</span></td>


                                                <td class="py-1">
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-cart-dash-fill fs-4"></i><br></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Edit_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Edit" onclick="EditLot('@lot.Id','@lot.LotNumber')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                                                    }
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Delete_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Delete" onclick="DeleteLot('@lot.Id')"><i class="bi bi-trash3-fill"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<partial name="_SaveLot" />
<partial name="_ExpiryLots" />
<partial name="_ListItems" />

@section Scripts {
    <script src="~/js/Users.js"></script>
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }

    <script>

        let lbTitleEdit = '@Html.Raw("Edit Lot")';
        let lbEdit = '@Html.Raw("Save Changes")';
        let lbAddNewRole = '@Html.Raw("Add New Lot")';
        let lbbtnSave = '@Html.Raw("Save Data")';

        let lbTitleMsgDelete = '@Html.Raw("Delete Lot")';
        let lbTextMsgDelete = '@Html.Raw($"Are you sure !  Do you want to delete the Lot data and everything related to it, including requests and records? ")';
        let lbconfirmButtonText = '@Html.Raw("Yes , Remove")';
        let lbcancelButtonText = '@Html.Raw("Cancle")';

        let lbTitleDeletedOk = '@Html.Raw("Delete Lot Done")';
        let lbMsgDeletedOkRole = '@Html.Raw("The Lot data has been successfully deleted!")';
        let lbSuccess = '@Html.Raw(Helper.Success)';

    </script>
}

