@model ManufacuterCompanyViewModel

@{
    ViewData["Title"] = "Manufacturers";
    int cNo = 0;

}
<div class="card border-0 pt-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <span class="text-center fw-bold fs-1  pb-3" style="color:#415E72 !important ">
        Manufacuters
        <i class="bi bi-buildings-fill ps-2 fs-1"></i>
    </span>
</div>
<!-- Main content -->

<section class="container-fluid mt-3" dir="ltr">
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card p-0">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle">
                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Manufacuters.Create_Manufacuters).Result.Succeeded)
                    {
                        <a class="btn fw-bold btn-outline-warning bg-transparent border-0 text-center p-0 mx-1 fs-2" title="Add New Manufacturer" onclick="ResetManufacuterCompany()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-square-fill"></i></a>
                    }
                </div>
                <!-- /.card-header -->

                <div class="card-body p-0">
                    <!-- Tab links -->
                    @*  <div class="tab">
                        <button class="tablinks" onclick="openCity('event', 'Users')" id="defaultOpen">قائمة المستخدمين</button>
                    </div> *@
                    <!-- Tab content -->
                    @if (!Model.ManufacuterCompaniesList.Any())
                    {
                        <div class="alert  alert-warning mt-5">
                            <h4 class="alert-heading">No Manufacuter Companies !</h4>
                            <p class="mb-0">No manufacturers have been added to the app yet.</p>
                        </div>
                    }
                    else
                    {

                        <div id="Users" class="tabcontent mx-2">
                            <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                <thead>
                                    <tr class="text-center">
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;"></th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Name</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Nick Name</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Description</th>
                                        <th class=" text-white text-center fs-5" style="color:#415E72 !important ; background-color:#032b42 !important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cat in Model.ManufacuterCompaniesList)
                                    {
                                        cNo++;

                                        <tr class="text-center">
                                            <td class="fs-6 text-center px-1"><span class="">@cNo</span></td>
                                            <td class="fs-6 text-center px-1"><span class="link-dark fw-bold">@cat.Name</span></td>
                                            <td class="fs-6 text-center px-1">@cat.ShortCutName</td>
                                            <td class="fs-6 text-center px-1">@cat.Details</td>

                                            <td class="py-1">
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Manufacuters.Details_Manufacuters).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="ManufacuterCompanies" asp-action="SelectedManufacuterCompany" asp-route-Id="@cat.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Manufacuters.Edit_Manufacuters).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Edit" onclick="EditManufacuterCompany('@cat.Id','@cat.Name','@cat.ShortCutName','@cat.Details')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Manufacuters.Delete_Manufacuters).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Delete" onclick="DeleteManufacuterCompany('@cat.Id')"><i class="bi bi-trash3-fill"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<partial name="_SaveManufacuterCompany" model="new ManufacuterCompanyViewModel()" />

@section Scripts {
    <script src="~/js/Users.js"></script>
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }

    <script>

        let lbTitleEdit = '@Html.Raw("Edit Manufacturer")';
        let lbEdit = '@Html.Raw("Save Changes")';
        let lbAddNewRole = '@Html.Raw("Add New Manufacturer")';
        let lbbtnSave = '@Html.Raw("Save Data")';

        let lbTitleMsgDelete = '@Html.Raw("Delete Manufacturer")';
        let lbTextMsgDelete = '@Html.Raw($"Are you sure !  Do you want to delete the manufacturer data and everything related to it, including requests and records? ")';
        let lbconfirmButtonText = '@Html.Raw("Yes , Remove")';
        let lbcancelButtonText = '@Html.Raw("Cancle")';

        let lbTitleDeletedOk = '@Html.Raw("Delete Manufacturer Done")';
        let lbMsgDeletedOkRole = '@Html.Raw("The manufacturer data has been successfully deleted!")';
        let lbSuccess = '@Html.Raw(Helper.Success)';

    </script>
}
