@model List<ApplicationRole>

@{
    ViewData["Title"] = "Roles";
    int index = 0;
}

<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <span class="text-center fw-bold fs-1" style="color:#415E72 !important ">
        Roles
        <i class="bi bi-collection ps-2 fs-1"></i>
    </span>
</div>
<!-- Main content -->
<section class="container-fluid my-3" dir="ltr">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card p-0">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle">
                    <!-- Button trigger modal -->
                    <a class="btn fw-bold btn-outline-warning bg-transparent border-0 p-0 mx-1 fs-2" title="Add New Role" onclick="ResetRole()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-square-fill"></i></a>

                </div>
                <!-- /.card-header -->

                <div class="card-body p-0">
                    <!-- Tab links -->
                    @*  <div class="tab">
                        <button class="tablinks" onclick="openCity('event', 'Users')" id="defaultOpen">قائمة المستخدمين</button>
                    </div> *@
                    <!-- Tab content -->
                    @if (!Model.Any())
                    {
                        <div class="alert  alert-warning mt-5">
                            <h4 class="alert-heading">No Roles</h4>
                            <p class="mb-0">No Roles have been added to the app yet.</p>
                        </div>
                    }
                    else
                    {
                        <div id="Roles" class="tabcontent mx-2">
                            <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableRole">
                                <thead>
                                    <tr class="text-center">
                                        <th class="text-white text-center fs-5" style="background-color:#032b42 !important;"></th>
                                        <th class="text-white text-center fs-5" style="background-color:#032b42 !important;">Role</th>
                                        <th class="text-white text-center fs-5" style="background-color:#032b42 !important;">Description</th>
                                        <th class="text-white text-center fs-5" style="color:#415E72 !important ; background-color:#032b42 !important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var role in Model)
                                    {
                                        index++;
                                        <tr class="text-center">
                                            <td class="text-center">@index</td>
                                            <td class="text-center"><span class="bg-success-subtle fw-bold p-2 link-success rounded-5">@role.Name</span></td>
                                            <td class="text-center">@role.Details</td>
                                            <td class="text-center py-1">
                                                <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Manage Role Permissions" asp-controller="Roles" asp-action="ManagePermissions" asp-route-roleId="@role.Id"><i class="bi bi-shield-lock"></i></a>
                                                <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title=" Edit" onclick="Edit('@role.Id','@role.Name','@role.Details')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                                                <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title=" Delete" onclick="DeleteRole('@role.Id')"> <i class="bi bi-trash3-fill"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <div class="col-md-2"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


<partial name="_SaveRole" model="new RoleFormViewModel()" />

@section Scripts {
    <script src="~/js/Roles.js"></script>
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'success'

                });
            </script>

        }
        else
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'warning'

                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }




    <script>

        let lbTitleEdit = '@Html.Raw("Edit Role")';
        let lbEdit = '@Html.Raw("Save Changes")';
        let lbAddNewRole = '@Html.Raw("Add New Role")';
        let lbbtnSave = '@Html.Raw("Save Data")';

        let lbTitleMsgDelete = '@Html.Raw("Delete Role")';
        let lbTextMsgDelete = '@Html.Raw($"Are you sure !  Do you want to delete the Role data and everything related to it, including requests and records? ")';
        let lbconfirmButtonText = '@Html.Raw("Yes , Remove")';
        let lbcancelButtonText = '@Html.Raw("Cancle")';

        let lbTitleDeletedOk = '@Html.Raw("Delete Role Done")';
        let lbMsgDeletedOkRole = '@Html.Raw("The Role data has been successfully deleted!")';
        let lbSuccess = '@Html.Raw(Helper.Success)';
    </script>
}