@model PermissionsFormViewModel
@{
    ViewData["Title"] = "صـلاحيات المستخدم";
}
<div class="card border-0 mb-3 pt-3" style="background-color:#032b42 !important; border-radius:0 0 0 80px ">
    <div class="d-flex text-center mx-auto bg-info-s">
        <a asp-controller="Roles" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">قائمة المجموعات</a>
        <i class="bi bi-chevron-double-left fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important ">@ViewData["Title"]</a>
    </div>
</div>
<section class="container-fluid mt-5">
    <div class="col-md-1"></div>
    <form asp-action="ManagePermissions" method="post">
        <div class="card col-md-10 p-0 mx-auto justify-content-center mt-4">
            <div class="card-header d-flex bg-info-subtle py-2 justify-content-start">
                <div class="px-5">
                    <h2 class="text-dark">@Model.RoleName</h2>
                    <h4 class="text-dark">@Model.Details</h4>
                    <span class="text-dark">إضافة / حذف صلاحيات للمستخدم</span>
                </div>

                <button asp-route="@Model"
                        type="submit" title="حفظ صلاحيات المستخدم" class="btn btn-info fs-5 btn-sm rounded-3  mb-3 ms-3 position-absolute top-0 start-0">
                    <i class="bi bi-bookmark-check-fill fs-3 fw-bold"></i> <br class="p-1 m-1"/> حفظ الصلاحيات
                    
                </button>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                    </div>
                </div>
                <div>
                </div>


            </div>
            <div class="card-body row w-75 mx-auto p-0 justify-content-center">

                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tablePermission">
                    <thead>
                        <tr class="text-center">
                            <th class="text-white text-center fs-5" style="background-color:#032b42 !important;"></th>
                            <th class="text-white text-center fs-5" style="background-color:#032b42 !important;">الوحدة</th>
                            <th class="text-white text-center fs-5" style="background-color:#032b42 !important;">الصلاحية</th>

                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.RoleCalims.Count; i++)
                        {
                            <tr>
                                <td class="text-center">

                                    <input hidden asp-for="@Model.RoleCalims[i].DisplayValue" />
                                    <input type="checkbox" asp-for="@Model.RoleCalims[i].IsSelected" class="form-check-input border-1 border-primary fs-5 " />

                                </td>
                                <td class="fw-bold fs-5 px-1  m-0 text-success text-center"><span class="bg-success-subtle p-2 rounded-5">@Model.RoleCalims[i].DisplayValue.Split('.')[1]</span></td>
                                <td class="fs-6 text-center">@Model.RoleCalims[i].DisplayValue.Split('.')[2]</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
    </form>
    <div class="col-md-1"></div>

</section>

@section Scripts {
    <script src="~/js/Roles.js"></script>
}

