@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> userManager
@model ItemViewModel

@{
    ViewData["Title"] = "Exchange Lot";
}

<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0" dir="ltr">
    <div class="d-flex text-center mx-auto">
        <span class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important">
            @ViewData["Title"]
            <i class="bi bi-cart-dash-fill ps-2 fs-1"></i>
        </span>
    </div>
</div>

<form method="post">
    <section class="text-center py-3 d-flex container-fluid justify-content-center mx-auto" dir="ltr">
        <div class="card col-md-8 col-12">
            <div class="card-header py-1 d-flex align-items-center justify-content-start bg-info-subtle">
                <i class="bi bi-pin-angle-fill link-primary fs-4 pe-3"></i>
                <span class="fs-4 fw-bold link-primary">Lot Data</span>
            </div>

            <div class="card-body justify-content-center row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-12">

                    <!-- Hidden Fields -->
                    <input hidden asp-for="@Model.NewLot.ItemId" value="@Model.NewItem.Id" />
                    <input hidden id="lotId" asp-for="@Model.NewLot.Id" />
                    <input hidden id="lotNum" asp-for="@Model.NewLot.LotNumber" />

                    <!-- Item Info -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-danger-subtle fw-bold col-md-4 col-3">Item Barcode</span>
                        <div class="card col-md-8 col-9 py-1" style="border-bottom-right-radius : 20px ;">
                            <div class="card-body row p-0 mx-auto">
                                <img src="@Model.NewItem.BarcodeImage" height="60" />
                                <p style="font-size:12px" class="mb-0">@Model.NewItem.Code</p>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-danger-subtle fw-bold col-md-4 col-3">Item Name</span>
                        <input readonly value="@Model.NewItem.Name" class="form-control text-center fw-bold col-md-8 col-9" style="border-bottom-right-radius : 20px ;" />
                    </div>

                    <!-- Lot Info -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold col-md-4 col-3">Lot Barcode</span>
                        <div class="card col-md-8 py-1 col-9" style="border-bottom-right-radius : 20px ;">
                            <div class="card-body row p-0 mx-auto text-center">
                                <img id="lotBarcode" src="@Model.NewLot.BarcodeImage" height="60" />
                                <p id="lotNumber" style="font-size:12px" class="mb-0">@Model.NewLot.LotNumber</p>
                            </div>
                        </div>
                    </div>

                    <!-- Lot Select -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-info-subtle fw-bold col-md-4 col-3">Lot Data</span>
                        <div class="col-md-8 col-9">
                            <select id="lotList" class="form-select text-start" asp-for="@Model.NewLot.Id" required style="border-bottom-right-radius : 20px ;">
                                @foreach (var lot in Model.ListLotsOfItem)
                                {
                                    var lotObj = Model.LotsList.FirstOrDefault(l => l.Id.ToString() == lot.Value);
                                    if (lotObj != null)
                                    {
                                        <option value="@lot.Value"
                                                data-code="@lotObj.LotNumber"
                                                data-barcode="@lotObj.BarcodeImage"
                                                data-available="@lotObj.AvilableQuantity"
                                                data-id="@lot.Value">   
                                            @lot.Text
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <!-- Exchange Quantity -->
                    <div class="input-group mt-4 row mx-auto">
                        <span class="input-group-text bg-success-subtle fw-bold col-md-4 col-3">Exchange Quantity</span>
                        <input id="lotExQnty" type="number" min="1" value="" placeholder="Max Quantity : @Model.NewLot.AvilableQuantity" asp-for="@Model.NewLot.ExchageQuantity" class="form-control text-center col-md-8 col-9" style="border-bottom-right-radius : 20px ;" autofocus />
                    </div>
                    <span asp-validation-for="@Model.NewLot.ExchageQuantity" class="text-danger"></span>

                    <!-- Lot Recipient -->
                    <div class="input-group mt-2 row mx-auto">
                        <span class="input-group-text bg-success-subtle fw-bold col-md-4 col-3">Lot Recipient</span>
                        <input id="lotRec" asp-for="@Model.NewLot.Recipient" class="form-control text-center col-md-8 col-9" placeholder="Lot Recipient" style="border-bottom-right-radius : 20px ;" />
                    </div>
                    <span asp-validation-for="@Model.NewLot.Recipient" class="text-danger"></span>

                    <!-- Submit -->
                    <div class="mx-auto">
                        <input type="submit" class="btn btn-success py-2 mt-4 w-50 mx-2" value="Exchange Lot" asp-action="Exchange" asp-controller="Lots" />
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    <script>
        window.addEventListener("load", () => {
            const input = document.getElementById("lotExQnty");

            setTimeout(() => {
                input.focus();
                input.select();
            }, 100);
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const lotList = document.getElementById("lotList");
            const lotBarcode = document.getElementById("lotBarcode");
            const lotNumber = document.getElementById("lotNumber");
            const lotNum = document.getElementById("lotNum");
            const lotExQnty = document.getElementById("lotExQnty");
            const lotId = document.getElementById("lotId");


            function updateLotDetails() {
                const selectedOption = lotList.options[lotList.selectedIndex];
                const barcode = selectedOption.dataset.barcode;
                const code = selectedOption.dataset.code;
                const available = parseInt(selectedOption.dataset.available);
                const id = parseInt(selectedOption.dataset.id);


                // تحديث صورة الباركود ورقم اللوت
                lotBarcode.src = barcode;
                lotNumber.textContent = code;
                lotNum.value = code;
                lotExQnty.max = available;
                lotId.value = id;

            }
            // عند تغيير اللوت
            lotList.addEventListener("change", updateLotDetails);
            // // تحديث عند تحميل الصفحة
            updateLotDetails();

        });
    </script>
}
