@model ItemViewModel

@{
    ViewData["Title"] = "Iventory Catalog";
    int cNo = 0;
    

}
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <span class="text-center fw-bold fs-1  " style="color:#415E72 !important ">
        Iventory Catalog
        <i class="bi bi-boxes ps-2 fs-1"></i>
    </span>
</div>
<!-- Main content -->

<section class="container-fluid mt-3 " dir="ltr">
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card p-0">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle">
                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Create_Items).Result.Succeeded)
                    {
                        <a class="btn fw-bold btn-outline-warning bg-transparent border-0 text-center p-0 mx-1 fs-2" title="Add New Item" onclick="ResetItem()" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-square-fill"></i></a>
                    }
                </div>
                <!-- /.card-header -->

                <div class="card-body p-0">
                    <!-- Tab links -->
                    @*  <div class="tab">
                        <button class="tablinks" onclick="openCity('event', 'Users')" id="defaultOpen">قائمة المستخدمين</button>
                    </div> *@
                    <!-- Tab content -->
                    @if (!Model.ItemsList.Any())
                    {
                        <div class="alert  alert-warning mt-5">
                            <h4 class="alert-heading">No Items</h4>
                            <p class="mb-0">No Items have been added to the app yet.</p>
                        </div>
                    }
                    else
                    {

                        <div id="Users" class="tabcontent mx-2">
                            <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                <thead>
                                    <tr class="text-center">
                                        @* <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;"></th> *@
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Barcode</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Name</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">SDS</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Category</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Unit</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;">Total<br class="m-0 p-0">Quantity</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;">Avilable<br class="m-0 p-0">Quantity</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Limit</th>
                                        <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Lots</th>
                                        <th class=" text-white text-center fs-6" style="background-color:#032b42 !important;">Storage<br class="m-0 p-0">Condition</th>
                                        @* <th class=" text-white text-center fs-5" style="background-color:#032b42 !important;">Location</th> *@
                                        <th class=" text-white text-center fs-5" style="color:#415E72 !important ; background-color:#032b42 !important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ItemsList)
                                    {
                                        cNo++;
                                       
                                        <tr class="text-center">
                                            @* <td class="fs-6 text-center px-1"><span class="">@cNo</span></td> *@
                                            <td class="fs-6 text-center py-0 px-1 mx-auto justify-content-center">
                                                <span class="link-dark fw-bold fs-6"> <img src="@item.BarcodeImage" style="height:40px" /></span>
                                                <hr class="p-0 m-0">
                                                <span class="link-dark " style="font-size:10px">@item.Code</span>
                                            </td>
                                            <td class="fs-6 text-center py-1 px-1 ">
                                                <span class="link-primary fw-bold">@item.Name</span>
                                            </td>
                                            @if(item.SDS == true)
                                            {
                                                <td class="text-center ">
                                                    <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                        Valid
                                                    </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center ">
                                                    <span class="fw-bold py-2 px-3 bg-danger-subtle link-danger rounded-5">
                                                       Invalid
                                                    </span>
                                                </td>
                                            }
                                            <td class="fs-6 text-center px-1">@item.Category.Name</td>
                                            <td class="fs-6 text-center px-1">@item.Unit.Name</td>
                                            <td class="fs-6 text-center px-1"><span class="fw-bold">@item.TotalQuantity</span></td>
                                            <td class="fs-6 text-center px-1"><span class="fw-bold">@item.AvilableQuantity</span></td>
                                            <td class="text-center ">
                                                <span class="fw-bold py-2 px-3 bg-warning-subtle link-warning rounded-5">
                                                    @item.Limit
                                                </span>
                                            </td>
                                            <td class="fs-6 text-center px-1">@item.Lots.Count</td>

                                               
                                            @if (item.StorageCondition == "room temp")
                                            {
                                                <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-thermometer-half link-danger fs-3 px-1"></i>@item.StorageCondition</span></td>
                                            }
                                            else if (item.StorageCondition == "2-8C")
                                            {
                                                <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-thermometer-half link-success fs-3 px-1"></i>@item.StorageCondition</span></td>
                                            }
                                            else
                                            {
                                                <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-thermometer-half link-info fs-3 px-1"></i>@item.StorageCondition</span></td>
                                            }
                                            @* <td class="fs-6 text-center px-1">
                                                <a class="link-dark fw-bold text-decoration-none" title="Storage Details" asp-controller="Items" asp-action="SelectedItem" asp-route-Id="@item.Id">
                                                    @item.Location.LocationName
                                                </a>
                                            </td> *@
                                           
                                            <td class="py-1">
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Create_Lots).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Add New Lot" asp-controller="Items" asp-action="CreateLot" asp-route-Id="@item.Id"><i class="bi bi-cart-plus-fill fs-3"></i><br></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Details_Items).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Items" asp-action="SelectedItem" asp-route-Id="@item.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Edit_Items).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Edit" onclick="EditItem('@item.Id','@item.Code','@item.Name','@item.TotalQuantity','@item.Limit','@item.SDS','@item.StorageCondition','@item.CategoryId','@item.UnitId','@item.LocationId')" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Delete_Items).Result.Succeeded)
                                                {
                                                    <a class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Delete" onclick="DeleteItem('@item.Id')"><i class="bi bi-trash3-fill"></i></a>
                                                }
                                                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Print_ItemBarcode).Result.Succeeded)
                                                {
                                                    <a id="printBarcode" class="btn fw-bold btn-outline-dark bg-transparent border-0 p-0 mx-1 fs-4" title="Print Barcode" asp-controller="Items" asp-action="PrintItemBarcode" asp-route-barcodeFile="@item.BarcodeImage" asp-route-Code="@item.Code" ><i class="bi bi-printer-fill"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<partial name="_SaveItem"  />

@section Scripts {
    <script src="~/js/Users.js"></script>
    @if (!string.IsNullOrEmpty(Context.Session.GetString(Helper.MsgType)))
    {
        if (Context.Session.GetString(Helper.MsgType) == Helper.Success)
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString(Helper.Title)',
                    text: '@Html.Raw(@Context.Session.GetString(Helper.Msg))',
                    confirmButtonText: 'Ok',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString(Helper.MsgType, "");
    }

    <script>

        let lbTitleEdit = '@Html.Raw("Edit Item")';
        let lbEdit = '@Html.Raw("Save Changes Only")';
        let lbAddNewRole = '@Html.Raw("Add New Item")';
        let lbbtnSave = '@Html.Raw("Save Data Only")';

        let lbTitleMsgDelete = '@Html.Raw("Delete Item")';
        let lbTextMsgDelete = '@Html.Raw($"Are you sure !  Do you want to delete the Item data and everything related to it, including requests and records? ")';
        let lbconfirmButtonText = '@Html.Raw("Yes , Remove")';
        let lbcancelButtonText = '@Html.Raw("Cancle")';

        let lbTitleDeletedOk = '@Html.Raw("Delete Item Done")';
        let lbMsgDeletedOkRole = '@Html.Raw("The Item data has been successfully deleted!")';
        let lbSuccess = '@Html.Raw(Helper.Success)';

    </script>
}

