@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> userManager
@model ItemViewModel
@{
    ViewData["Title"] = Model?.NewItem?.Name;
    int cNo = 0;
    int tNo = 0;
    }
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Items" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Items</a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important ">@ViewData["Title"]</a>
    </div>
</div>
<section class="text-center pb-3 d-flex container-fluid justify-content-center mx-auto" dir="ltr">
    <section class="container-fluid mt-3 " dir="ltr">
        <div class="row mb-2">
            <div class="col-md-1"></div>

            <div class=" d-flex col-md-4 col-6" >
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Items.Print_ItemBarcode).Result.Succeeded)
                {
                    <a class="btn btn-outline-primary btn-sm py-0 d-flex rounded rounded-3 " title="Print Barcode" asp-controller="Items" asp-action="PrintItemBarcode" asp-route-barcodeFile="@Model.NewItem.BarcodeImage" asp-route-Code="@Model.NewItem.Code">
                        <img src="~/images/barcode.png" alt="Save" height="40" class="mx-2">
                        <span class="fw-bold fs-6 pt-2 pe-3 pt-sm-2 pe-sm-3">Print Barcode</span>
                    </a>
                }
                
            </div>
            <div class=" d-flex col-md-6 col-6">
                @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Create_Lots).Result.Succeeded)
                {
                    <a class="btn btn-outline-warning btn-sm  d-flex rounded rounded-3 " title="Add New Lot" asp-controller="Items" asp-action="CreateLot" asp-route-Id="@Model.NewItem.Id" >
                        <i class="bi bi-cart-plus-fill mx-2 fs-4"></i>
                        <span class="fw-bold fs-6 pt-2 pe-3">Create New Lot</span>
                    </a>
                }
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 col-12">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-info-subtle">
                        <i class="bi bi-pin-angle-fill link-primary fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-primary">Item Details</span>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Item Image -->
                        <div class="input-group mt-2 row mx-auto">
                            <img src="~/images/item.png" class="mx-auto w-50" />
                        </div>
                        <!-- Item Barcode -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Barcode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <div class="card col-md-8 col-8 py-1" style="border-top-right-radius : 20px ;">
                                <div class="card-body row p-0 mx-auto" style="border-top-right-radius : 20px ;">
                                    <img src="@Model?.NewItem?.BarcodeImage" height="60" />
                                </div>
                            </div>
                        </div>
                        
                        <!-- Item Code -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Code" class="form-control text-center fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Building Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Name -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Name" class="form-control text-center fw-bold col-md-8" autocomplete="on" aria-required="true" placeholder="Item Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Category -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Category  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Category.Name" class="form-control text-center fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Category Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Total Quantity -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Avilable Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.AvilableQuantity" class="form-control text-center fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Item Quantity ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Limit -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Limit  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Limit" class="form-control text-center link-danger fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Item Limit ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                       
                        <!-- Item Unit -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unit  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Unit.Name" class="form-control text-center col-8 col-md-8 fw-bold" autocomplete="on" aria-required="true" placeholder="Unit Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item SDS -->
                        @if (Model.NewItem.SDS == true)
                        {
                            <div class="input-group mt-2 row mx-auto">
                                <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item SDS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled asp-for="@Model.NewItem.SDS" value="Valid" class="form-control text-center link-success fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Item SDS ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                            </div>
                        }
                        else
                        {
                            <div class="input-group mt-2 row mx-auto">
                                <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item SDS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled asp-for="@Model.NewItem.SDS" value="Invalid" class="form-control text-center link-danger fw-bold" autocomplete="on" aria-required="true" placeholder="Item SDS ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-warning-subtle">
                        <i class="bi bi-pin-angle-fill link-warning fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-warning">Item Lots</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        @if (!Model.LotsList.Any())
                        {
                            <div class="alert  alert-warning mt-5">
                                <h4 class="alert-heading">No Lots in this item</h4>
                                <p class="mb-0">No lots have been added to this item yet.</p>
                            </div>
                        }
                        else
                        {
                            <div id="Users" class="tabcontent mx-2">
                                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                    <thead>
                                        <tr class="text-center fs-5">
                                            <th class=" text-white text-center fs-5" style="background-color:#CB6040"><span class="fw-bold">Barcode</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#CB6040"><span class="fw-bold">Expiry Date</span></th>
                                            <th class=" text-white text-center fs-6" style="background-color:#CB6040"><span class="fw-bold">Available<br class="m-0 p-0">Quantity</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#CB6040"><span class="fw-bold">Lot SDS</span></th>
                                            <th class=" text-white text-center fs-6" style="background-color:#CB6040"><span class="fw-bold">Manufacture <br class="m-0 p-0">Date</span></th>
                                            <th class=" text-white text-center fs-6" style="background-color:#CB6040"><span class="fw-bold"></span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lot in Model.LotsList)
                                        {
                                            cNo++;
                                           @if (Convert.ToDateTime(lot.ExpiryDate).Date.AddDays(-30) <= DateTime.Now.Date)
                                            {
                                                <tr class="text-center ">
                                                    <td class="fs-6 text-center px-1  mx-auto justify-content-center" >
                                                        <span class="link-dark fw-bold fs-6"> <img src="@lot.BarcodeImage" style="height:40px" /></span>
                                                        <hr class="p-0 m-0">
                                                        <span class="link-dark " style="font-size:10px">@lot.LotNumber</span>
                                                    </td>
                                                    <td class="fs-6 text-center px-1 " ><span class="fw-bold link-warning">@Convert.ToDateTime(lot.ExpiryDate).ToShortDateString()</span></td>
                                                    <td class="fs-6 text-center px-1 " ><span class="link-dark fw-bold">@lot.AvilableQuantity</span></td>
                                                    @if (lot.SDS == true)
                                                    {
                                                        <td class="text-center " >
                                                            <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                                Valid
                                                            </span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center" >
                                                            <span class="fw-bold py-2 px-3 bg-danger-subtle link-danger rounded-5">
                                                                Invalid
                                                            </span>
                                                        </td>
                                                    }
                                                    <td class="fs-6 text-center px-1 " ><span class="link-dark fw-bold">@Convert.ToDateTime(lot.ManufactureDate).ToShortDateString()</span></td>
                                                    <td class="fs-6 text-center px-1 " >
                                                        @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                        {
                                                            <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                        }
                                                    </td>

                                                   
                                                </tr>
                                            }
                                            else if (Convert.ToDateTime(lot.ExpiryDate).Date > DateTime.Now.Date)
                                            {
                                                <tr class="text-center ">
                                                    <td class="fs-6 text-center px-1 mx-auto justify-content-center">
                                                         <span class="link-dark fw-bold fs-6"> <img src="@lot.BarcodeImage" style="height:40px" /></span>
                                                        <hr class="p-0 m-0">
                                                        <span class="link-dark " style="font-size:10px">@lot.LotNumber</span>
                                                    </td>
                                                    <td class="fs-6 text-center px-1 "><span class="fw-bold link-success">@Convert.ToDateTime(lot.ExpiryDate).ToShortDateString()</span></td>
                                                    <td class="fs-6 text-center px-1 "><span class="link-dark fw-bold">@lot.AvilableQuantity</span></td>
                                                    @if (lot.SDS == true)
                                                    {
                                                        <td class="text-center ">
                                                            <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                                Valid
                                                            </span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center ">
                                                            <span class="fw-bold py-2 px-3  bg-success-subtle link-danger rounded-5">
                                                                Invalid
                                                            </span>
                                                        </td>
                                                    }
                                                    <td class="fs-6 text-center px-1 "><span class="link-dark fw-bold">@Convert.ToDateTime(lot.ManufactureDate).ToShortDateString()</span></td>
                                                    <td class="fs-6 text-center px-1 ">
                                                        @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                        {
                                                            <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                        }
                                                    </td>
                                                    

                                                    
                                                    
                                                </tr>
                                            }
                                        }
                                    
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-success-subtle">
                        <i class="bi bi-pin-angle-fill link-success fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-success">Item Location</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">

                        <!-- Location Image -->
                        <div class="input-group mt-2 row mx-auto">
                            <img src="~/images/storage.png" class="mx-auto w-25" />
                        </div>
                        <!-- Building Name -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Building Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.LocationName" class="form-control col-md-8 col-8 text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Building Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                       @*  <!-- Room Type -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Room Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RoomType" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Room Type ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div> *@
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Room Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RoomNum" class="form-control text-center col-8 col-md-8 fw-bold" autocomplete="on" aria-required="true" placeholder="Room Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Case Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.CaseNum" class="form-control col-8 col-md-8 text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Case Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shelf Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.ShelfNum" class="form-control text-center col-md-8 col-8 fw-bold" autocomplete="on" aria-required="true" placeholder="Shelf Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rack Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RackNum" class="form-control text-center fw-bold col-md-8 col-8" autocomplete="on" aria-required="true" placeholder="Rack Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Box Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.BoxNum" class="form-control text-center col-md-8 col-8 fw-bold" autocomplete="on" aria-required="true" placeholder="Box Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4 col-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tube Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.TubeNum" class="form-control col-8 col-md-8 text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Tube Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-danger-subtle">
                        <i class="bi bi-pin-angle-fill link-danger fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-danger">Expiered Lots</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        @if (!Model.ExpieredLots.Any())
                        {
                            <div class="alert  alert-danger mt-5">
                                <h4 class="alert-heading">No Expiered Lots in this item</h4>
                                <p class="mb-0">No expiered lots have been added to this item yet.</p>
                            </div>
                        }
                        else
                        {
                            <div id="Users" class="tabcontent mx-2">
                                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                    <thead>
                                        <tr class="text-center fs-5">
                                            <th class=" text-white text-center fs-5" style="background-color:#901E3E !important;"><span class="fw-bold">Barcode</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#901E3E !important;"><span class="fw-bold">Expiry Date</span></th>
                                            <th class=" text-white text-center fs-6" style="background-color:#901E3E !important;"><span class="fw-bold">Total<br class="m-0 p-0">Quantity</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#901E3E !important;"><span class="fw-bold">Lot SDS</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#901E3E !important;"><span class="fw-bold">Location</span></th>
                                            <th class=" text-white text-center fs-5" style="background-color:#901E3E !important;">  </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lot in Model.ExpieredLots)
                                        {
                                            cNo++;
                                            
                                                <tr class="text-center ">
                                                    <td class="fs-6 text-center px-1 bg-light-subtle mx-auto justify-content-center">
                                                    <span class="link-dark fw-bold fs-6"> <img src="@lot.BarcodeImage" style="height:40px" /></span>
                                                    <hr class="p-0 m-0">
                                                    <span class="link-dark " style="font-size:10px">@lot.LotNumber</span>
                                                    </td>
                                                <td class="fs-6 text-center px-1 bg-light-subtle"><span class="fw-bold link-danger">@Convert.ToDateTime(lot.ExpiryDate).ToShortDateString()</span></td>
                                                <td class="fs-6 text-center px-1 bg-light-subtle"><span class="link-dark fw-bold">@lot.TotalQuantity</span></td>
                                                    @if (lot.SDS == true)
                                                    {
                                                    <td class="text-center bg-light-subtle">
                                                            <span class="fw-bold py-2 px-3 bg-success-subtle link-success rounded-5">
                                                                Valid
                                                            </span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                    <td class="text-center bg-light-subtle">
                                                            <span class="fw-bold py-2 px-3 bg-danger-subtle link-danger rounded-5">
                                                                Invalid
                                                            </span>
                                                        </td>
                                                    }
                                                <td class="fs-6 text-center px-1 bg-light-subtle">
                                                    <span class="link-dark fw-bold">@Convert.ToDateTime(lot.ManufactureDate).ToShortDateString()</span>
                                                    </td>
                                                <td class="fs-6 text-center px-1 bg-light-subtle">
                                                    @if (AuthorizationService.AuthorizeAsync(User, Permissions.Lots.Details_Lots).Result.Succeeded)
                                                    {
                                                        <a class="btn fw-bold btn-outline-dark bg-transparent border-0 text-center p-0 mx-1 fs-5" title="Details" asp-controller="Lots" asp-action="SelectedLot" asp-route-Id="@lot.Id"><i class="bi bi-eye-fill fs-4"></i><br></a>
                                                    }
                                                    </td>
                                                </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
        <br>

        <div class="row">
            <div class="col-md-1"></div>
            
            <div class="col-md-10">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-dark-subtle">
                        <i class="bi bi-pin-angle-fill link-dark fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-dark ">Item Transactions</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        @if (!Model.ItemTransactionsList.Any())
                        {
                            <div class="alert  alert-dark mt-5">
                                <h4 class="alert-heading">No Transactions in this item</h4>
                                <p class="mb-0">No transactions have been added to this item yet.</p>
                            </div>
                        }
                        else
                        {
                            <div id="Roles" class="tabcontent mx-2">
                                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableRole">
                                    <thead>
                                        <tr class="text-center fs-5">
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Trans. #</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Trans. Date</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Statement</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Create By</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Device</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Quantity</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Item Available Qty</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var trans in Model.ItemTransactionsList)
                                        {
                                            tNo++;
                                            <tr class="text-center">
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.Move_Num</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@Convert.ToDateTime(trans.Move_Date).ToShortDateString()</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.Move_Statement</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.CreatedBy</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.DeviceUsing</span></td>

                                                @if (trans.Move_State == true)
                                                {
                                                    <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-caret-up-fill link-success fs-3 px-3"></i>@trans.Move_Quantity</span></td>
                                                }
                                                else
                                                {
                                                    <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-caret-down-fill link-danger fs-3 px-3"></i>@trans.Move_Quantity</span></td>
                                                }
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-primary fw-bold ">@trans.Total_Quantity</span></td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
    </section>
</section>