@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> userManager
@model ItemViewModel
@{
    ViewData["Title"] = Model?.NewItem?.Name;
    int cNo = 0;
    int tNo = 0;
    }
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Items" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Items</a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important ">@ViewData["Title"]</a>
    </div>
</div>
<section class="text-center py-3 d-flex container-fluid justify-content-center mx-auto" dir="ltr">
    <section class="container-fluid mt-3 " dir="ltr">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-info-subtle">
                        <i class="bi bi-pin-angle-fill link-primary fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-primary">Item Details</span>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body px-3">
                       
                        
                        <!-- Item Code -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Code &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input  disabled asp-for="@Model.NewItem.Code" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Building Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Name -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input  disabled asp-for="@Model.NewItem.Name" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Item Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Category -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Category  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.Category.Name" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Category Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Total Quantity -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.NewItem.TotalQuantity" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Item Quantity ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Limit -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item Limit  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input  disabled asp-for="@Model.NewItem.Limit" class="form-control text-center link-danger fw-bold" autocomplete="on" aria-required="true" placeholder="Item Limit ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                       
                        <!-- Item Unit -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Unit  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input  disabled asp-for="@Model.NewItem.Unit.Name" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Unit Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Item Unit -->
                        @if (Model.NewItem.SDS == true)
                        {
                            <div class="input-group mt-2 row mx-auto">
                                <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item SDS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled asp-for="@Model.NewItem.SDS" value="Valid" class="form-control text-center link-success fw-bold" autocomplete="on" aria-required="true" placeholder="Item SDS ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                            </div>
                        }
                        else
                        {
                            <div class="input-group mt-2 row mx-auto">
                                <span class="input-group-text bg-info-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Item SDS  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled asp-for="@Model.NewItem.SDS" value="Invalid" class="form-control text-center link-danger fw-bold" autocomplete="on" aria-required="true" placeholder="Item SDS ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                            </div>
                        }
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-warning-subtle">
                        <i class="bi bi-pin-angle-fill link-warning fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-warning">Item Lots</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        @if (!Model.LotsList.Any())
                        {
                            <div class="alert  alert-warning mt-5">
                                <h4 class="alert-heading">No Lots in this item</h4>
                                <p class="mb-0">No lots have been added to this item yet.</p>
                            </div>
                        }
                        else
                        {
                            <div id="Users" class="tabcontent mx-2">
                                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                    <thead>
                                        <tr class="text-center fs-5">
                                            <th class="bg-warning-subtle text-center"></th>
                                            <th class="bg-warning-subtle text-center"><span class="fw-bold">Lot Number</span></th>
                                            <th class="bg-warning-subtle text-center"><span class="fw-bold">Barcode</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var lot in Model.LotsList)
                                        {
                                            cNo++;
                                            <tr class="text-center">
                                                <td class=" text-center px-1"><span class="">@cNo</span></td>
                                                <td class=" text-center px-1"><span class="link-dark ">@lot.LotNumber</span></td>
                                                <td class=" text-center px-1"><span class="link-dark ">@lot.BarcodeValue</span></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-success-subtle">
                        <i class="bi bi-pin-angle-fill link-success fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-success">Item Location</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        <!-- Building Name -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Building Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.LocationName" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Building Name ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Type -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Room Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RoomType" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Room Type ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Room Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RoomNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Room Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Case Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.CaseNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Case Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Shelf Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.ShelfNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Shelf Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rack Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.RackNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Rack Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Box Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.BoxNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Box Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                        <!-- Room Number -->
                        <div class="input-group mt-2 row mx-auto">
                            <span class="input-group-text bg-success-subtle fw-bold rounded-end-3 col-md-4" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tube Number  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled asp-for="@Model.LocationData.TubeNum" class="form-control text-center fw-bold" autocomplete="on" aria-required="true" placeholder="Tube Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;">
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card p-0">
                    <div class="card-header py-1 d-flex align-items-center justify-content-start bg-dark-subtle">
                        <i class="bi bi-pin-angle-fill link-dark fs-4 pe-3"></i>
                        <span class="fs-4 fw-bold link-dark ">Item Transactions</span>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body px-3">
                        @if (!Model.ItemTransactionsList.Any())
                        {
                            <div class="alert  alert-dark mt-5">
                                <h4 class="alert-heading">No Transactions in this item</h4>
                                <p class="mb-0">No transactions have been added to this item yet.</p>
                            </div>
                        }
                        else
                        {
                            <div id="Users" class="tabcontent mx-2">
                                <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                                    <thead>
                                        <tr class="text-center fs-5">
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Trans. #</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Trans. Date</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Statement</span></th>
                                            <th class="bg-dark text-white text-center"><span class="fw-bold">Quantity</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var trans in Model.ItemTransactionsList)
                                        {
                                            tNo++;
                                            <tr class="text-center">
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.Move_Num</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@Convert.ToDateTime(trans.Move_Date).ToShortDateString()</span></td>
                                                <td class=" text-center px-1 pb-0 pt-2"><span class="link-dark ">@trans.Move_Statement</span></td>
                                                @if (trans.Move_State == true)
                                                {
                                                    <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-caret-up-fill link-success fs-3 px-3"></i>@trans.Move_Quantity</span></td>
                                                }
                                                else
                                                {
                                                    <td class=" text-start px-1 py-0"><span class="link-dark fw-bold px-3"><i class="bi bi-caret-down-fill link-danger fs-3 px-3"></i>@trans.Move_Quantity</span></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
        </div>
    </section>
</section>