@model ProfileFormViewModel
@{
    ViewData["Title"] = "Edit User ";
}

<div class="card border-0 py-3 " style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Users" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Users</a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 text-decoration-none fw-bold" style="color:#415E72 !important "> @ViewData["Title"]</a>
    </div>
</div>
<section class="container-fluid my-3" dir="ltr">
    <div class="row">
        <div class="col-md-1"></div>
        <form asp-controller="Users" asp-action="EditUser" method="post">
            <div class="card col-md-10 p-0 mx-auto justify-content-center">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle py-2">
                    <span class="fs-3 fw-bold link-dark px-5">
                        @ViewData["Title"]
                    </span>
                </div>
                <div class="card-body row justify-content-center">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="@Model.Id">

                        <!-- User Name -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; UserName &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-color:red;border-right-width:3px;">
                        </div>
                        <!-- Email -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <input id="email" disabled asp-for="@Model.Email" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="Enter User Email ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-color:red;border-right-width:3px;">
                        </div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                        <!-- PassUser -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle border-start-0 fw-bold rounded-end-3" id="inputGroup-sizing-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled id="passUser" asp-for="@Model.PassUser" class="form-control text-center  explicit-ltr" autocomplete="on" aria-required="true" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-color:red;border-right-width:3px;">
                        </div>

                        <!-- Name-Ar -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FullName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input required id="nameAr" asp-for="@Model.FullName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="Enter User FullName ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-color:red;border-right-width:3px;" autofocus>
                        </div>
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                        <!-- PhoneNumber -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input id="phoneNum" asp-for="@Model.PhoneNumber" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="Enter User Phone Number ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-color:red;border-right-width:3px;">
                        </div>
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>

                        <!-- Gender -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <select class="form-select text-center" id="inputGroupSelect01" asp-for="@Model.Gender" aria-required="true" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>

                       
                       
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button onclick="document.getElementById('passUser').value = document.getElementById('pass').value;"
                            type="submit" title="Save User Changes" class="btn btn-info fs-5 px-5 rounded-3 ">
                        Save Changes
                        <i class="bi bi-bookmark-check-fill fs-3 fw-bold pe-2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</section>

@section Scripts {
    @*  <partial name="_ValidationScriptsPartial" /> *@
}
