@model ProfileFormViewModel
@{
    ViewData["Title"] = "تعديل مستخدم ";
}

<div class="card border-0 pt-3 mb-3" style="background-color:#032b42 !important; border-radius:0 0 0 80px ">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Users" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">قائمة المستخدمين</a>
        <i class="bi bi-chevron-double-left fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 text-decoration-none fw-bold" style="color:#415E72 !important ">تعديل بيانات مستخدم</a>
    </div>
</div>
<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-1"></div>
        <form asp-controller="Users" asp-action="EditUser" method="post">
            <div class="card col-md-10 p-0 mx-auto justify-content-center">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle py-2">
                    <span class="fs-3 fw-bold link-dark px-5">
                        @ViewData["Title"]
                    </span>
                </div>
                <div class="card-body row justify-content-center">
                    <div class="col-md-6">
                        <input type="hidden" asp-for="@Model.Id">

                        <!-- User Name -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;اسم المستخدم&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-left-radius : 20px ;border-left-color:red;border-left-width:3px;">
                        </div>

                        <!-- PassUser -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle border-start-0 fw-bold rounded-end-3" id="inputGroup-sizing-default">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;كلمة المرور&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled id="passUser" asp-for="@Model.PassUser" class="form-control text-center  explicit-ltr" autocomplete="on" aria-required="true" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-left-radius : 20px ;border-left-color:red;border-left-width:3px;">
                        </div>

                        
                        <!-- Name-Ar -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;الاسـم كـامل&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input required id="nameAr" asp-for="@Model.FullName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="ادخل الاسم كامل..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-left-radius : 20px ;border-left-color:red;border-left-width:3px;">
                        </div>
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                       
                        <!-- PhoneNumber -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; رقم الموبيل &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input id="phoneNum" asp-for="@Model.PhoneNumber" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="ادخل رقم الموبيل - يفضل عليه WhatsApp! ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-left-radius : 20px ;border-left-color:red;border-left-width:3px;">
                        </div>
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>

                        <!-- Gender -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الجنس &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <select class="form-select text-center" id="inputGroupSelect01" asp-for="@Model.Gender" aria-required="true" style="border-top-left-radius : 20px ;border-left-width:3px;">
                                <option value="male">ذكــر</option>
                                <option value="female">انثـي</option>
                            </select>
                        </div>
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>

                       
                        <!-- Email -->
                        <div class="input-group mb-2">
                            <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;البريد الالكتروني&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <input id="email" asp-for="@Model.Email" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="ادخل البريد الالكتروني الخاص بك ..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-left-radius : 20px ;border-left-color:red;border-left-width:3px;">
                        </div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="card-footer text-center">
                    <button onclick="document.getElementById('passUser').value = document.getElementById('pass').value;"
                            type="submit" title="حفظ تعديلات المستخدم" class="btn btn-info fs-5 px-5 rounded-3 ">
                        <i class="bi bi-bookmark-check-fill fs-4 fw-bold ps-2"></i>حفظ التعديلات
                    </button>
                </div>
            </div>
        </form>
    </div>

</section>

@section Scripts {
    @*  <partial name="_ValidationScriptsPartial" /> *@
}
