@model UserRolesViewModel
@{
    ViewData["Title"] = "Manage User Roles";
}
<div class="card border-0 py-3" style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Users" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Users</a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 fw-bold text-decoration-none" style="color:#415E72 !important ">@ViewData["Title"]</a>
    </div>
</div>


<section class="container-fluid my-3" dir="ltr">
    <div class="row">
        <div class="col-md-1"></div>
        <form method="post">
            <div class="card col-md-10 p-0 mx-auto justify-content-center">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle py-2">

                    <span class="fs-3 fw-bold link-dark px-5">
                        @ViewData["Title"] [@Model.UserName]
                    </span>
                </div>
                <div class="card-body row p-0 justify-content-center">
                    <div class="col-md-6">
                        <table class="table table-hover display nowrap  px-0 table-bordered border-primary-subtle" id="tableUser">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-center bg-info-subtle fs-5 py-1 fw-bold" style="color:#415E72 !important ;">Role</th>
                                    <th class="text-center bg-info-subtle fs-5 py-1 fw-bold" style="color:#415E72 !important ;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Roles.Count; i++)
                                {
                                    <tr>
                                        <td class="fs-6 px-2 py-0 text-dark text-center fw-bold">
                                            <input type="hidden" asp-for="@Model.Roles[i].DisplayValue" />
                                            <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                                @Model.Roles[i].DisplayValue
                                            </label>
                                        </td>

                                        <td class="fs-5 px-2 py-0 text-dark text-center bg-secondary">
                                            <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input border-primary" />
                                        </td>
                                    </tr>
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" title="Save Roles Changes" class="btn btn-info fs-5 px-5 rounded-3 ">
                        Save Changes
                        <i class="bi bi-bookmark-check-fill fs-3 fw-bold pe-2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>