@model ProfileFormViewModel
@{
    ViewData["Title"] = "Edit User ";
}

<div class="card border-0 py-3 " style="background-color:#032b42 !important; border-radius:0 0 75px 0 " dir="ltr">
    <div class="d-flex text-center mx-auto">
        <a asp-controller="Users" asp-action="index" class="text-center fs-4 fw-bold text-decoration-none" style="color:#415E72 !important ">Planning </a>
        <i class="bi bi-chevron-double-right fw-bold fs-3 mt-2 mx-3" style="color:#415E72 !important"></i>
        <a class="text-center fs-1 text-decoration-none fw-bold" style="color:#415E72 !important "> Manage Reels</a>
    </div>
</div>
<section class="container-fluid my-3" dir="ltr">
    <div class="row">
        <div class="col-md-1"></div>
        <form asp-controller="Users" asp-action="EditUser" method="post">
            <div class="card col-md-10 p-0 mx-auto justify-content-center">
                <div class="card-header d-flex align-items-center justify-content-start bg-info-subtle py-2">
                    <span class="fs-3 fw-bold link-dark px-5">
                        Manage Reels
                    </span>
                </div>
                <div class="card-body row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" asp-for="@Model.Id">

                                <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; File Details &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>
                                <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; File Details &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>
                                 <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; File Details &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>
                                <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; File Details &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input dir="ltr" disabled id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>

                                <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;  Reels Quantity &nbsp; </span>
                                    <input dir="ltr"  id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>
                                <!-- User Name -->
                                <div class="input-group mb-2">
                                    <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp; Reels Count &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input dir="ltr"  id="userName" asp-for="@Model.UserName" class="form-control text-center" autocomplete="on" aria-required="true" placeholder="" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                </div>

                            </div>
                            <div class="card-footer text-center">
                                <button onclick="document.getElementById('passUser').value = document.getElementById('pass').value;"
                                        type="submit" title="Save User Changes" class="btn btn-info fs-5 px-5 rounded-3 ">
                                   Reels Details
                                    <i class="bi bi-bookmark-check-fill fs-3 fw-bold pe-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                @for (int i = 1; i <= 5; i++)
                                    {
                                    <!-- Roll# -->
                                    <div class="input-group mb-2">
                                        <span class="input-group-text bg-info-subtle fw-bold rounded-end-3" id="inputGroup-sizing-default ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Roll#@i &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <input id="roll_@i" class="form-control text-center fs-5 " autocomplete="on" aria-required="true" placeholder="0" type="number" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="border-top-right-radius : 20px ;border-right-width:3px;">
                                        <i class="bi bi-bullseye link-info fs-2 mx-4"></i>
                                    </div>
                                    }
                            </div>
                            <div class="card-footer text-center">
                                <button onclick="document.getElementById('passUser').value = document.getElementById('pass').value;"
                                        type="submit" title="Save User Changes" class="btn btn-info fs-5 px-5 rounded-3 ">
                                  Reels Barcodes
                                    <i class="bi bi-upc-scan fs-3 fw-bold px-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>

@section Scripts {
    @*  <partial name="_ValidationScriptsPartial" /> *@
}
